@media (min-width: 320px) and (max-width: 740px) {
  .destaque {
    height: 46rem;
    padding: 0;
  }

  nav {
    padding-left: 1rem;
    flex-wrap: wrap;
    padding-top: 3rem;
  }


  .logo-busqueda {
    display: block;
  }
  .logo {
    padding-left: 5rem;
  }
  .logo img {
    height: 17px;
    width: 27px;
  }
  .logo .logo-azul {
    margin-left: 7px;
  }
  .logo p {
    font-size: 20px;
  }

  .logo-busqueda input {
    width: 249px;
  }

  .login {
    padding-top: 3rem;
    padding-right: 6rem;
  }
  .banner {
    padding-left: 20px;
    padding-top: 1rem;
}
.banner h1 {
  
    font-size: 42px;
   
}

  .prod-titulo {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .prod-titulo .titulo {
    font-size: 29px;
    
}
.seccion-productos {
  
    display: inline-table;
    padding-left: 5rem;
}
.produto {
   
    margin-bottom: 2rem;
}
.seccion-productos .produto .descrição {
    margin-top: 50px;
    padding-left: 2rem;
}
.seccion-productos .produto .preco {

    padding-left: 4rem;
}
a {
    
    padding-left: 1.5rem;
}
.contacto {
    height: 34rem;
    padding: 10px 0;
    flex-wrap: wrap;
    
}
.referencia {
    display: flex;
    width: 218px;
   
}
.referencia img {
    width: 47px;
    height: 27px;
}
.referencia p {
    font-size: 23px;
  
}
.links-utiles {
    line-height: 29px;
    width: 232px;
    font-size: 14px;
    margin-right: 0;
}


.form {
  
    width: 182px;
}
.form input {
    width: 184px;
   
}

}


@media (min-width: 741px) and (max-width: 1024px) {
    .destaque {
        height: 49rem;
        padding: 0;
      }

      nav {
        padding-left: 1rem;
    }
    .banner {
        padding-left: 8rem;
        padding-top: 11rem;
    }
    .seccion-productos .produto img {
     
        height: 160px;
      
    }

    .seccion-productos {
        
        padding-left: 5rem;
        padding-right: 3rem;
        flex-wrap: wrap;
        height: 668px;
        margin-top: -5px;
    }

    .seccion-productos .produto .descrição {
        margin-top: 20px;
    }
    .contacto {
       
        flex-wrap: wrap;
        height: 25rem;
    }
    .links-utiles {
        
        width: 15rem;
        margin-right: 0px;
    }
    .form textarea {
        width: 84%;
        height: 4rem;
        
    }
    .form input {
        width: 25rem;
     
    }
    .form p {
        padding-left: 7rem;
        margin-bottom: 2rem;
    }
    .form button {
        margin-left: 8rem;
      
    }
    .logo-busqueda input {
     
        width: 417px;
      
      
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    nav {
      
        padding-left: 1rem;
    }
    .seccion-productos .produto img {
     
        height: 206px;
        
    }

    .contacto {
       
        flex-wrap: wrap;
        height: 590px;
    }
    .links-utiles {
        line-height: 40px;
        width: 123px;
       
    }
    .banner button {
      
        margin: 2rem 1rem 2rem 1rem;
    }
    .banner {
        padding-left: 228px;
        padding-top: 6rem;
    }
    
   
    
}

@media (min-width: 1201px) {
.banner {
    padding-left: 30%;
  
}
.seccion-productos .produto img {
  
    height: 230px;
    
}
.links-utiles {
   
    width: 352px;
    margin-right: -91px;
}
}
